/* Place project-specific CSS here */

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* We transformed teiHeader//title to tei.title  */
/* as a hack to solve a JavaScript/jQuery issue. */
/*
titleStmt > tei-title {
  display: flex;
  justify-content: center;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}
*/
/*
  font-size: 150%;
    font-size: 10pt;
    font-weight: bold;
*/

#tei_wrapper {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body > head {
  display: flex;
  justify-content: center;
  font-size: 120%;
}

/*   column-gap: 20px; column-width: 35em; margin-left: auto;  margin-right: auto; */
body > div {
    -webkit-column-count:2;
    -moz-column-count:2;
    columns: 2;
    column-gap: 15px;
    column-width: 30em;
    margin-left: -1em;
    margin-right: -1em;
}

entry {
  break-inside: avoid;
  display: block;
  line-height: 1em;
  margin: 1.5em 1em -1em 1em;
}

entry:hover {
    background-color: #729fcf;
    cursor: grab;
}

form {
  display: block;
  font-family: sans-serif;
  font-size:11pt;
}

form > form {
  display: block;
  font-family: sans-serif;
  font-size:11pt;
  text-indent: 1em;
}

orth {
  display: block;
  font-family: sans-serif;
  font-size:11pt;
  font-weight: bold;
}

pron {
  display: block;
}

pos {
  display: block;
  font-family: sans-serif;
  font-size:11pt;
  text-indent: 1em;
}

quote {
  display: block;
}

form > cit {
  display: block;
  font-family: sans-serif;
  font-size:11pt;
  text-indent: 1em;
}

cit > bibl {
  display: block;
  font-family: sans-serif;
  font-size:11pt;
  text-indent: 1em;
}

etym {
  display: block;
  font-family: sans-serif;
  font-size:11pt;
  text-indent: 1em;
}

oRef {
  display: inline;
  font-family: sans-serif;
  font-size:11pt;
  font-weight: bold;
}

