body{
    background: #202020;
    color: white;
    display: flex;
    width: 98%;
    height: 100%;
    place-items: left;
}
.wrapper{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
}
.button-container{
    display: flex;
    margin-top: 10px;
    gap: 15px;
}

  /*background: #202020;
    color: white;

    position: absolute;
    left: 0px;
    top: 0px;
    width: 99%;
    height: 99%;*/
#editor{
    background-color: #3e3e3e;
    border: 0;
    color: white;
}

button{
    padding: 10px;
    color: white;
    background-color: rgb(10, 185, 164);
    border-radius: 10px;
    outline: none;
    cursor: pointer;

}
button:hover{
    background-color: rgb(7, 220, 195);
}

textarea {
  field-sizing: content;
}
